# Server Configuration
PORT=4000
NODE_ENV=production

# Database
DATABASE_URL="postgresql://postgres.ttjzkuhdezrjztnirits:Year2025belofte@aws-1-eu-north-1.pooler.supabase.com:5432/postgres"

# JWT
JWT_SECRET="your_jwt_secret_here"

# Swagger
SWAGGER_SERVER_URL="http://localhost:4000/api"

# Other environment variables
# Add your specific environment variables here